.navigation-bar {
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;
}

.navigation-btn {
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
    transform: scaleX(-1);
    border-radius: 24px;
    padding: 16px 52px;
    transition: background-color 0.2s;
}

.navigation-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.navigation-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}